<ion-content>
  <p style="font-size: 1.8em;margin: 1em;color:#192547; font-weight: bold;margin-top:2em;">Reservaciones</p>
<div style="margin:2em 1.5em;">
    <ion-segment 
        value="pendientes" 
        color="tertiary" 
        scrollable="true"
        mode="ios"
        [(ngModel)]="segmentModel" 
        (ionChange)="segmentChanged($event)">

          <ion-segment-button value="pendientes">
            <ion-label>Pendientes</ion-label>
          </ion-segment-button>

          <ion-segment-button value="completados">
            <ion-label>Completados</ion-label>
          </ion-segment-button>

    </ion-segment>


    <div *ngIf="segmentModel === 'pendientes'">
      <ion-card *ngFor="let reservation of pendientes" style="border-radius: 1em;" (click)="goToPage('/reservation')">
        <ion-card-header>
          <ion-card-subtitle>{{ reservation.time |  date:'fullDate':'es' }}</ion-card-subtitle>
          <ion-card-title>{{ reservation.name }}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item detail  lines="none" >
            <ion-label>
              <p style="color:green;font-weight: 200;font-size: 1.2em;">$ {{ reservation.price }}</p>
              <p style="font-weight: bold;">Pendiente</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </div>


    <div *ngIf="segmentModel === 'completados'">

      <ion-card *ngFor="let reservation of completados" style="border-radius: 1em;" (click)="goToPage('/reservation')">
        <ion-card-header>
          <ion-card-subtitle>{{ reservation.time |  date:'fullDate':'es' }}</ion-card-subtitle>
          <ion-card-title>{{ reservation.name }}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item detail  lines="none" >
            <ion-label>
              <p style="color:green;font-weight: 200;font-size: 1.2em;">$ {{ reservation.price }}</p>
              <p style="color:green;font-weight: bold;">Completado</p>
            </ion-label>
          </ion-item>
          
          
        </ion-card-content>
      </ion-card>
      
     
    </div>




  
</div>

</ion-content>
