
<ion-content>
  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <img [src]="veterinarian.profile" style="min-width: 100%;" alt="">
  <div style="margin: 0em 1.6em;">
    <ion-row style="margin-top: -2em;">
      <p style="color: #eab728;margin-top: 0em;font-weight: bold;">4.5</p>
      <div style="
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          height: 1em;
          width: 1em;
          background-color: #eab728;"></div>
          <div style="
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          height: 1em;
          width: 1em;
          background-color: #eab728;"></div>
            <div style="
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            height: 1em;
            width: 1em;
            background-color: #eab728;"></div>
            <div style="
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            height: 1em;
            width: 1em;
            background-color: #eab728;"></div>

  <div style="
          clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          height: 1em;
          width: 1em;
          background-color: #eab728;"></div>




  </ion-row>
    <p style="margin:1.3em 0em;font-size: 2.2em;color:#192547; font-weight: bold;">{{veterinarian.name}}</p>
  <p style="font-size: 1.3em;font-weight: 400;" >{{ veterinarian.description }}</p>








  <ion-chip *ngFor="let service of servicesVet" color="primary">
    <ion-label>{{service}}</ion-label>
  </ion-chip>


    <ion-item-divider mode="md">
    </ion-item-divider>

    <h2 style="margin: 1em 0em;color:#777;font-weight: bold;">Servicios</h2>
    <ion-slides  [options]="slideOpts">
      <ion-slide *ngFor="let service of services">
        <ion-card style="border-radius: 1em;">
          <img [src]="service.img" />

          <ion-card-header style="text-align: left;">
              <ion-card-title style="text-align: left;color:#192547;font-weight: 700;">{{service.title}}</ion-card-title>
              <ion-card-subtitle>
                <!-- <div style="
                  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                  height: 1em;
                  width: 1em;
                  background-color: #eab728;">
                </div> -->
                <p>{{service.description}}</p>
                <p style="vertical-align: middle;color:#059200;font-size:1.2em;font-weight: bold;
              "> MXN $ {{ service.price }}</p>
                </ion-card-subtitle>
              </ion-card-header>
              
              <ion-card-content>
                
                <ion-button color="tertiary" expand="block" fill="outline" (click)="goReservationCalendar(veterinarian.id,veterinarian.name)">Agregar</ion-button>
        </ion-card-content>
      </ion-card>
      </ion-slide>

    

    </ion-slides>

    <h2 style="margin: 1em 0em;color:#777;font-weight: bold;">Productos</h2>
   
   
    <ion-slides  [options]="slideOpts">
      <ion-slide *ngFor="let product of products">
        <ion-card style="border-radius: 1em;">
          <img [src]="product.img" alt="">
          <ion-card-header>
              <ion-card-title style="color:#192547;font-weight: 700;">{{product.title}}</ion-card-title>
              <ion-card-subtitle>
                <!-- <div style="
                  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                  height: 1em;
                  width: 1em;
                  background-color: #eab728;">
                </div> -->
                <p style="vertical-align: middle;color:#059200;font-weight: bold;
              ">${{product.price}} MXN.</p>
        

                </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content>
          <p>{{product.description}}</p>
        </ion-card-content>
      </ion-card>
      </ion-slide>
      

    </ion-slides>

    <ion-item-divider mode="md">
    </ion-item-divider>

  <p style="font-weight: bold;">Dirección</p>
  <p>San mateo evangelista 4167-1, lomas de san miguel, tlaquepaque,</p>
  <p style="font-weight: bold;">Telefono de Emergencia</p>
  <p>33-27-27-69-23</p>
  <p style="font-weight: bold;">Redes Sociales</p>
    <a href="">Facebook</a>


    <ion-item-divider mode="md">
    </ion-item-divider>

    <h2 style="margin: 1em 0em;color:#777;font-weight: bold;">Reseñas</h2>

    <ion-slides  [options]="slideOpts">
      <ion-slide *ngFor="let review of reviews" >
        <ion-card style="border-radius: 1em;width: 100% !important;">
          <ion-card-header>
              <ion-card-title style="color:#192547;font-weight: 700;text-align: left;">Luis Rojas</ion-card-title>
              <ion-card-subtitle>
                <p style="vertical-align: middle;text-align: left;color:#eab728
              ">{{ review.score }} estrellas</p>
                </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content >
          <!-- cambiar despues OJO -->
          <p style="text-align: left;">{{ review.commment }}</p>
          <!-- cambiar despues OJO -->

        </ion-card-content>
      </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item-divider mode="md">
    </ion-item-divider>

    <h2 style="margin: 1em 0em;color:#777;font-weight: bold;">Veterinarios similares</h2>

    <ion-slides class="thumbnail margin"  [options]="slide">
      <ion-slide class="slider-1 "  (click)="goToPage('/veterinarians/'+1)" *ngFor="let terrace of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
       <div style="text-align: left;">
          <img class="border-radius-img" src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZG9jdG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="min-height: 14em;">
          <p style="margin-left: 1em;font-weight: bold;">Veterinaria lolis</p>
          <p class="subtitle-card" style="margin-left: 1em;">Guadalajara, Jal</p>
          
        </div>
      </ion-slide>
    </ion-slides> 


</div>
</ion-content>
