
<ion-content>
  <img [src]="veterinarian.profile" style="min-width: 100%;" alt="">
  <div style="margin: 0em 1.6em;">
    <ion-row style="margin-top: -2em;">
      <p style="color: #eab728;margin-top: 0em;font-weight: bold;">4.5</p>
      <div style="
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          height: 1em;
          width: 1em;
          background-color: #eab728;"></div>
          <div style="
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          height: 1em;
          width: 1em;
          background-color: #eab728;"></div>
            <div style="
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            height: 1em;
            width: 1em;
            background-color: #eab728;"></div>
            <div style="
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            height: 1em;
            width: 1em;
            background-color: #eab728;"></div>

  <div style="
          clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          height: 1em;
          width: 1em;
          background-color: #eab728;"></div>




  </ion-row>
    <p style="margin:1.3em 0em;font-size: 2.2em;color:#192547; font-weight: bold;">{{veterinarian.name}}</p>
  <p style="font-size: 1.3em;font-weight: 400;" >{{ veterinarian.description }}</p>








  <ion-chip *ngFor="let service of servicesVet" color="primary">
    <ion-label>{{service}}</ion-label>
  </ion-chip>


    <ion-item-divider mode="md">
    </ion-item-divider>

    <h2 style="margin: 1em 0em;color:#777;font-weight: bold;">Servicios</h2>
    <ion-slides  [options]="slideOpts">
      <ion-slide>
        <ion-card style="border-radius: 1em;">
          <img src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&w=889&q=80" />

          <ion-card-header style="text-align: left;">
              <ion-card-title style="text-align: left;color:#192547;font-weight: 700;">Consulta</ion-card-title>
              <ion-card-subtitle>
                <!-- <div style="
                  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                  height: 1em;
                  width: 1em;
                  background-color: #eab728;">
                </div> -->
                <p>Servicio de consultoria,podemos pesar a su perro minus sint?</p>
                <p style="vertical-align: middle;color:#059200;font-size:1.2em;font-weight: bold;
              "> MXN $120</p>
                </ion-card-subtitle>
              </ion-card-header>
              
              <ion-card-content>
                
                <ion-button color="tertiary" expand="block" fill="outline" (click)="goReservationCalendar()">Agregar</ion-button>
        </ion-card-content>
      </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="border-radius: 1em;">
          <ion-card-header>
              <ion-card-title style="color:#192547;font-weight: 700;">ecocardiogramas</ion-card-title>
              <ion-card-subtitle>
                <p style="vertical-align: middle;color:#059200;font-weight: bold;
              ">$ 170</p>

                </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content>
          <p>servicio de ecocardiogramas con los equipos mas novedosos del pais.</p>
        </ion-card-content>
      </ion-card>      </ion-slide>

    </ion-slides>

    <h2 style="margin: 1em 0em;color:#777;font-weight: bold;">Productos</h2>
    <ion-slides  [options]="slideOpts">
      <ion-slide>
        <ion-card style="border-radius: 1em;">
          <img src="https://scontent.fgdl3-1.fna.fbcdn.net/v/t1.6435-9/s960x960/180286985_4021752177889679_4810402069085314072_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=843cd7&_nc_eui2=AeHN9nvo01agI4xQYtEMcogxlMQHM11b-yOUxAczXVv7IyOu7nDOBMo8TCIyrbBq4H1F_zy07VZBprWFRzLqRRnk&_nc_ohc=87dxmIBUyg0AX8XHr02&_nc_ht=scontent.fgdl3-1.fna&tp=7&oh=2de0ccf8c71793e13617245c805f40ee&oe=60B1D547" alt="">
          <ion-card-header>
              <ion-card-title style="color:#192547;font-weight: 700;">Guantes</ion-card-title>
              <ion-card-subtitle>
                <!-- <div style="
                  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                  height: 1em;
                  width: 1em;
                  background-color: #eab728;">
                </div> -->
                <p style="vertical-align: middle;color:#059200;font-weight: bold;
              ">$100 MXN.</p>
        

                </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content>
          <p>Excelente producto para poder qutarle el pelo extra de tu mascota.</p>
        </ion-card-content>
      </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="border-radius: 1em;">
          <ion-card-header>
              <ion-card-title style="color:#192547;font-weight: 700;">Pau Rojas</ion-card-title>
              <ion-card-subtitle>
                <p style="vertical-align: middle;color:#059200;font-weight: bold;
              ">4.5 estrellas</p>

                </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content>
          <p>Excelente servicio me gustaria comenter Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam minus sint?</p>
        </ion-card-content>
      </ion-card>      </ion-slide>

    </ion-slides>

    <ion-item-divider mode="md">
    </ion-item-divider>

  <p style="font-weight: bold;">Dirección</p>
  <p>San mateo evangelista 4167-1, lomas de san miguel, tlaquepaque,</p>
  <p style="font-weight: bold;">Telefono de Emergencia</p>
  <p>33-27-27-69-23</p>
  <p style="font-weight: bold;">Redes Sociales</p>
    <a href="">Facebook</a>


    <ion-item-divider mode="md">
    </ion-item-divider>

    <h2 style="margin: 1em 0em;color:#777;font-weight: bold;">Comentarios</h2>

    <ion-slides  [options]="slideOpts">
      <ion-slide>
        <ion-card style="border-radius: 1em;">
          <ion-card-header>
              <ion-card-title style="color:#192547;font-weight: 700;">Luis Rojas</ion-card-title>
              <ion-card-subtitle>
                <!-- <div style="
                  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                  height: 1em;
                  width: 1em;
                  background-color: #eab728;">
                </div> -->
                <p style="vertical-align: middle;color:#eab728
              ">4.5 estrellas</p>

                </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content>
          <p>Excelente servicio me gustaria comenter Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam minus sint?</p>
        </ion-card-content>
      </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="border-radius: 1em;">
          <ion-card-header>
              <ion-card-title style="color:#192547;font-weight: 700;">Pau Rojas</ion-card-title>
              <ion-card-subtitle>
                <p style="vertical-align: middle;color:#eab728
              ">4.5 estrellas</p>

                </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content>
          <p>Excelente servicio me gustaria comenter Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam minus sint?</p>
        </ion-card-content>
      </ion-card>      </ion-slide>

    </ion-slides>




</div>

  <p (click)="mandarMensaje()">
    mandar mensaje
  </p>
</ion-content>

<ion-footer >
  <ion-button expand="full" color="tertiary" (click)="goReservationCalendar()">Reservar</ion-button>
</ion-footer>
