
<ion-content style="background-color: #eaecee;">

  <div style="width: 100%;height: 8em;background-color: #4963fd;color:white;padding:2em; position: sticky;
  top: 0;z-index: 10;">
    <h1>Menú</h1>
  </div>

  <ion-row style="padding: 0.8em;">
    <ion-col size="6">
      <div style="background-color: #eaecee;padding:2em;border-radius: 1em;max-height:12rem;height: 12rem;">
        <img src="assets/veterinarios.svg"  width="100" alt="">
        <p class="bold">Veterinarios</p>
      </div>
    </ion-col>
    <ion-col size="6">
      <div style="background-color: #eaecee;padding:2em;border-radius: 1em;max-height:12rem;height: 12rem;">
        <img src="assets/adopcion.svg" width="100" alt="">
        <p class="bold">Adopciones</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="padding: 0.8em;">
    <ion-col>
      <div style="background-color: #eaecee;padding:2em;border-radius: 1em;max-height:12rem;height: 12rem;">
        <img src="assets/alert.svg" width="100" alt="">
        <p class="bold">Reportar</p>
      </div>
    </ion-col>
    <ion-col>
      <div style="background-color: #eaecee;padding:2em;border-radius: 1em;max-height:12rem;height: 12rem;">
        <img src="assets/adopcion.svg" width="100" alt="">
        <p class="bold">Adopciones</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="padding: 0.8em;">
    <ion-col>
      <div style="background-color: #eaecee;padding:2em;border-radius: 1em;max-height:12rem;height: 12rem;">
        <img src="assets/veterinarios.svg" width="150" alt="">
        <p class="bold">Veterinarios</p>
      </div>
    </ion-col>
    <ion-col>
      <div style="background-color: #eaecee;padding:2em;border-radius: 1em;max-height:12rem;height: 12rem;">
        <img src="assets/adopcion.svg" width="100" alt="">
        <p class="bold">Adopciones</p>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-item button (click)="buttonClick()">
    <ion-label>
      Button Item
    </ion-label>
  </ion-item>

</ion-content>
