<ion-content>
  <p style="font-size: 1.8em;margin: 1em;color:#192547; font-weight: bold;">Notificaciones</p>
  
  <div style="margin:2em">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Recordarme para darle de comer</ion-card-subtitle>
        <!-- <ion-card-title>Madison, WI</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <!-- Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836. -->
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Recordarme para las vacunas</ion-card-subtitle>
        <!-- <ion-card-title>Madison, WI</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <!-- Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836. -->
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Recordarme para bañarlo</ion-card-subtitle>
        <!-- <ion-card-title>Madison, WI</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <!-- Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836. -->
      </ion-card-content>
    </ion-card>

    
    <hr>
    <h2>Configuración</h2>
    <p style="color:#7c7c7c;font-weight: 300;font-size: 1.2em;">Recibe recordatorios, consejos y promociones por parte del equipo de radi.</p>
    <h3>Recordatorios</h3>
    
    <ion-list>
      <ion-item lines="none">
        <ion-label>Notificaciones push</ion-label>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Correo electronico</ion-label>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-item>
    </ion-list>
    
    
    <h3>Consejos y promociones</h3>
    <ion-list>
      <ion-item lines="none">
        <ion-label>Notificaciones push</ion-label>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Correo electronico</ion-label>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
  