<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="tertiary">
      Radi
    </ion-title>
    <!-- <ion-icon slot="end" name="person-circle-outline" style="zoom:2.0;margin: .5em;"></ion-icon> -->
    <!-- <ion-buttons slot="start" style="margin: .5em 1.5em;" >
          <ion-buttons slot="start">
          </ion-buttons>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="10">
      <ion-searchbar placeholder=" Buscar" animated class="searchbar-input" style="padding: 1em;border-radius: 50%;"
        (ionChange)="buscar($event)" [(ngModel)]="myInput" (ionClear)="onCancel($event)">
      </ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <p>
        <ion-icon style="zoom:1.5;" name="qr-code-outline"></ion-icon>
      </p>
    </ion-col>
    <!-- <ion-col size="1">
      <p><ion-icon style="zoom:1.5;margin-left: .5em;" name="filter-outline"></ion-icon></p>
    </ion-col> -->
  </ion-row>


  <div style="margin:5em 1em" *ngIf="!buscando">
    <h2>Encuentra lo que más amas.</h2>
    <p style="color:#6e6e6e;font-size: 1.3em;font-weight: 300;">Encuentra veterinarios, servicios, mascotas y más.</p>
  </div>

  <div *ngIf="buscando">


    <div *ngIf="!isEmpty">

      <ion-item-divider mode="md" *ngFor="let vet of vets" (click)="goToPage('/veterinarians/'+vet.id)">

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img style="width: 14em;" [src]="vet.profile" style="border-radius: 1em !important;">
          </ion-thumbnail>
          <ion-label>
            <h3 style="font-weight: 500;font-size: 1.1em;">{{vet.name}}</h3>
            <p style="font-size: 1.2em;font-weight: 200;">Veterinaria</p>
          </ion-label>
        </ion-item>
      </ion-item-divider>

      <ion-item-divider mode="md" *ngFor="let pet of pets" (click)="goToPage('/show/'+pet.id)">
        <ion-item lines="none" style="border-radius: 1em !important;">
          <ion-thumbnail slot="start">
            <img style="width: 14em;"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Fw4LXP2Bj39x0c9-EWHRilLrBF9LGH0Www&usqp=CAU"
              style="border-radius: 1em !important;">
          </ion-thumbnail>
          <ion-label>
            <h3 style="font-weight: 500;font-size: 1.1em;">{{ pet.name }}</h3>
            <p style="font-size: 1.2em;font-weight: 200;">Mascota</p>
          </ion-label>
        </ion-item>
      </ion-item-divider>

      <ion-item-divider mode="md" *ngFor="let org of organizations" (click)="goToPage('/organization/'+org.id)">
        <ion-item lines="none" style="border-radius: 1em !important;">
          <ion-thumbnail slot="start">
            <img style="width: 14em;"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Fw4LXP2Bj39x0c9-EWHRilLrBF9LGH0Www&usqp=CAU"
              style="border-radius: 1em !important;">
          </ion-thumbnail>
          <ion-label>
            <h3 style="font-weight: 500;font-size: 1.1em;">{{ org.name }}</h3>
            <p style="font-size: 1.2em;font-weight: 200;">Organización</p>
          </ion-label>
        </ion-item>
      </ion-item-divider>

      <ion-item-divider mode="md" *ngFor="let service of services" (click)="goToPage('/organization/'+service.id)">
        <ion-item lines="none" style="border-radius: 1em !important;">
          <ion-thumbnail slot="start">
            <img style="width: 14em;"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Fw4LXP2Bj39x0c9-EWHRilLrBF9LGH0Www&usqp=CAU"
              style="border-radius: 1em !important;">
          </ion-thumbnail>
          <ion-label>
            <h3 style="font-weight: 500;font-size: 1.1em;">{{ service.title }}</h3>
            <p style="font-size: 1.2em;font-weight: 200;">Servicio</p>
          </ion-label>
        </ion-item>
      </ion-item-divider>


      <ion-item-divider mode="md" *ngFor="let product of products" (click)="goToPage('/organization/'+product.id)">
        <ion-item lines="none" style="border-radius: 1em !important;">
          <ion-thumbnail slot="start">
            <img style="width: 14em;"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Fw4LXP2Bj39x0c9-EWHRilLrBF9LGH0Www&usqp=CAU"
              style="border-radius: 1em !important;">
          </ion-thumbnail>
          <ion-label>
            <h3 style="font-weight: 500;font-size: 1.1em;">{{ product.title }}</h3>
            <p style="font-size: 1.2em;font-weight: 200;">Producto</p>
          </ion-label>
        </ion-item>
      </ion-item-divider>



      <div style="margin: 1em;font-weight: 400;font-size: 1.1em;">
        <p (click)="openModal('veterinarias')">Buscar por Veterinarias</p>
        <p (click)="openModal('mascotas')">Buscar por Mascotas</p>
        <p (click)="openModal('organizaciones')">Buscar por Organizaciones</p>
        <p (click)="openModal('organizaciones')">Buscar por Servicios</p>
        <p (click)="openModal('organizaciones')">Buscar por Productos</p>

      </div>
    </div>

    <div *ngIf="isEmpty">
      <h2 style="margin:1em 2em;">No encontramos ningún resultado.</h2>
    </div>

  </div>

  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>