<ion-header class="ion-no-border">
    <ion-toolbar >
        <ion-title class="ion-text-center" color="tertiary" >
          Radi
        </ion-title>
        <ion-icon slot="end" name="person-circle-outline" style="zoom:2.0;margin: .5em;"></ion-icon>
        <ion-buttons slot="start" style="margin: .5em 1.5em;" >
          <ion-buttons slot="start">
          </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="10">
      <ion-searchbar 
      placeholder="Buscar"
      animated
      class="searchbar-input"
      style="padding: 1em;border-radius: 50%;"
      (ionChange)="buscarCiudad($event)"
      [(ngModel)]="myInput"
      (ionClear)="onCancel($event)"
      >
</ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <p><ion-icon style="zoom:2.0;" name="qr-code-outline"></ion-icon></p>
    </ion-col>
  </ion-row>


<ion-row>
  <ion-col size="9">
    <p> </p>
  </ion-col>
  <ion-col size="2">
    <p style="color:blue;text-align: right;display:block;"><ion-icon  name="filter-outline"></ion-icon> Filtro</p>
  </ion-col>
</ion-row>



  <ion-card  *ngFor="let terrace of terraces">

    
      <ion-row>
        <ion-col size="6">
            <img style="margin: -.5em;" src="https://terrazas.tk/{{terrace.image}}" >
        </ion-col>
        <ion-col size="6">
          <p>{{terrace.name}}</p>
          <p>Desde $ {{ terrace.price }}</p>
          <p>{{ terrace.distance}} KM</p>
        </ion-col>
      </ion-row>
    </ion-card>

    

    
</ion-content>


