<ion-header class="ion-no-border">
  <ion-toolbar >
      <ion-title class="ion-text-center" color="tertiary" >
       Perfil
      </ion-title>
      <ion-icon slot="end" (click)="openModal()"  name="person-circle-outline" style="zoom:2.0;margin: .5em;"  ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<lottie-animation-view [options]="lottieConfig" [width]="200" [height]="200">
  
  </lottie-animation-view>
<h1 class="ion-text-center">¡Aún no estas adentro!  </h1>
</ion-content>


