<ion-header class="ion-no-border">
  <ion-toolbar >
      <ion-title class="ion-text-center" color="tertiary" >
       
      </ion-title>
      <ion-icon slot="end" (click)="openModal()"  name="person-circle-outline" style="zoom:2.0;margin: .5em;"  ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<lottie-animation-view [options]="lottieConfig" [width]="200" [height]="200">
  
  </lottie-animation-view>
<h1 class="ion-text-center">¡Aún no estas adentro!  </h1>
<p style="padding:2em;font-weight: 300;font-size: 1.2em;">Inicia sesión para adoptar o ver el perfil de tu mascota y las reservas que tienes.</p>
</ion-content>


