<ion-header class="ion-no-border">
  <ion-toolbar >
      <ion-title class="ion-text-center" color="tertiary" >
      </ion-title>
      <ion-buttons slot="start" style="margin: .5em 1.5em;" >
        <ion-buttons slot="start">
        </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<form style="margin:1em;" [formGroup]="registrationForm" (ngSubmit)="submit()">
  <ion-list class="line-input">
    
      <ion-item style="margin-bottom:1em;" >  
        <ion-label position="floating">Nombre</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="name"></ion-input> 
      </ion-item> 

      <div *ngFor="let error of errorMessages.name">
        <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>


      <ion-item  style="margin-bottom:1em;">
        <ion-label position="floating">Celular</ion-label>
        <ion-input inputmode="tel" formControlName="phone"></ion-input>
      </ion-item>

      <div *ngFor="let error of errorMessages.phone">
        <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>


      <ion-item  style="margin-bottom:1em;">
        <ion-label position="floating">Correo</ion-label>
        <ion-input inputmode="email" formControlName="email"></ion-input>
      </ion-item>

      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>



      <ion-item> 
        <ion-input placeholder="Ingresa contraseña" [hidden]="showPassword"  formControlName="password" [(ngModel)]="contra"  type="password" class="ion-text-left" ></ion-input> 
        <ion-input placeholder="Ingresa contraseña"  [hidden]="!showPassword" formControlName="password" [(ngModel)]="contra" type="text" class="ion-text-left" ></ion-input> 
          <a class="type-toggle" (click)="toggleShow()">
            <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
            <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline"></ion-icon>
          </a>
      </ion-item> 

      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small  class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

  </ion-list>

  <ion-button  type="submit"  [disabled]="!registrationForm.valid" style="width: 100%;"  color="tertiary">Crea una cuenta</ion-button>


  <!-- <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">Submit <ion-icon slot="end"
      name="create">
    </ion-icon>
  </ion-button> -->
</form>


<p style=" position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
font-weight: bold;">¿ya tienes una cuenta?<span style="color:cornflowerblue;" (click)="openModal()"> Inicia sesión</span></p>
</ion-content>
