.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;

        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }

        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
}


:host {
    display: flex;
    width: 100%;
    align-items: center;
  .type-toggle {
      padding-inline-start: 0.5rem;
  .show-option,
      .hide-option {
        font-size: 1.2rem;
        display: block;
  // In case you want to use text instead of icons
        &:not(ion-icon) {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }

small{
  margin-bottom: 1em;
}

  .error-message {
    color: var(--ion-color-danger);
    font-size: 1.1em;
   
}