<ion-header class="ion-no-border">
  <ion-toolbar >
      <ion-title class="ion-text-center" color="tertiary" >
      </ion-title>
      <ion-buttons slot="start" style="margin: .5em 1.5em;" >
        <ion-buttons slot="start">
        </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div style="margin:1em;">

  <ion-list class="line-input"> 
    <ion-item >  
      <ion-input  [(ngModel)]="name"  type="text" class="ion-text-left" placeholder="Nombre"></ion-input> 
      <!-- <ion-label><ion-icon style="margin:.5em;" name="mail-outline"></ion-icon></ion-label>  -->
    </ion-item> 
  </ion-list>

  <ion-list class="line-input"> 
    <ion-item >  
      <ion-input  [(ngModel)]="email"  type="email" class="ion-text-left" placeholder="Correo"></ion-input> 
      <!-- <ion-label><ion-icon style="margin:.5em;" name="mail-outline"></ion-icon></ion-label>  -->
    </ion-item> 
  </ion-list>

  <ion-list class="line-input"> 
    <ion-item> 
      <ion-input [hidden]="showPassword" [(ngModel)]="password" type="password" class="ion-text-left" placeholder="Contraseña"></ion-input> 
      <ion-input [hidden]="!showPassword" [(ngModel)]="password" type="text" class="ion-text-left" placeholder="Contraseña"></ion-input> 
      <a class="type-toggle" (click)="toggleShow()">
        <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
        <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline"></ion-icon>
     </a>
    

    </ion-item> 
  </ion-list>


  
  <ion-button [disabled]="email == '' || password == '' " (click)="login()" style="width: 100%;"  color="tertiary">Crea una cuenta</ion-button>
  <!-- <p style="text-align: center;color:blue">¿Olvidaste tu Contraseña?</p> -->
</div>



<p style=" position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
font-weight: bold;">¿ya tienes una cuenta?<span style="color:cornflowerblue;" (click)="openModal()"> Inicia sesión</span></p>
</ion-content>
