 <ion-content [fullscreen]="true">
  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h2 style="font-size: 1.8em;margin: 1em;color:#192547; font-weight: bold;margin:2em;">Reservación</h2>
  <ion-slides pager="true" class="thumbnail margin"  [options]="slideOpts" style="margin-bottom: 3em;">
    <ion-slide >
      <div class="ticket">
        <div class="ticket__content">
          <div style="display: flex; justify-content: center; text-align: center;margin: -1em;" >
    
            <ngx-qrcode   style="zoom:2.5" [value]="createdCode"></ngx-qrcode>
          </div>
          ashdjasna
          <ion-item-divider mode="md">
          </ion-item-divider>
          <p>12 de junio del 2020 8:20PM</p>
            </div>
      </div>
    </ion-slide>
    <ion-slide >
      <div #box>

        <ion-card class="content" (click)="openMap()" >
          <!-- <h2>Ubicación</h2> -->
          <div id="mapId" style="width: 100%; height: 100%;">
          </div>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide >
      <ion-card class="content">
        <h2>Mascota</h2>
        <img  (click)="goToPage('/perfil-perro')" width="150" style="border-radius: 0.7em;" src="https://images.unsplash.com/photo-1588943211346-0908a1fb0b01?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="content">
        <h2>Datos del pago</h2>
        <ion-row>
          <ion-col><p style="color:rgb(82, 82, 82);font-size: 1.5em;">Total</p></ion-col>
          <ion-col><p style="color:green;font-size: 1.5em;">{{ amount }} {{ currency }}</p></ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <div style="height: 4em;width: 3em;">

              <svg  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 291.764 291.764" style="enable-background:new 0 0 291.764 291.764;" xml:space="preserve">
              <g>
                <g>
                  <g>
                    <path  style="fill:#2394BC;" d="M119.259,100.23l-14.643,91.122h23.405l14.634-91.122
                    C142.655,100.23,119.259,100.23,119.259,100.23z M189.857,137.348c-8.179-4.039-13.193-6.765-13.193-10.896
                    c0.1-3.756,4.24-7.604,13.485-7.604c7.604-0.191,13.193,1.596,17.433,3.374l2.124,0.948l3.182-19.065
          c-4.623-1.787-11.953-3.756-21.007-3.756c-23.113,0-39.388,12.017-39.489,29.204c-0.191,12.683,11.652,19.721,20.515,23.943
          c9.054,4.331,12.136,7.139,12.136,10.987c-0.1,5.908-7.321,8.634-14.059,8.634c-9.336,0-14.351-1.404-21.964-4.696l-3.082-1.404
          l-3.273,19.813c5.498,2.444,15.609,4.595,26.104,4.705c24.563,0,40.546-11.835,40.747-30.152
          C209.596,151.335,203.351,143.639,189.857,137.348z M272.891,100.512h-18.108c-5.58,0-9.82,1.605-12.236,7.331l-34.766,83.509
          h24.563l6.765-18.08h27.481l3.51,18.153h21.664L272.891,100.512z M245.921,155.026c0.474,0.046,9.428-29.514,9.428-29.514
          l7.13,29.514C262.479,155.026,250.544,155.026,245.921,155.026z M85.059,100.23l-22.931,61.909L59.63,149.93
          c-4.24-14.087-17.533-29.395-32.368-36.999l20.998,78.33h24.764l36.799-91.021H85.059V100.23z"/>
      </g>
    </g>
    <path style="fill:#EFC75E;" d="M51.916,111.982c-1.787-6.948-7.486-11.634-15.226-11.734H0.374L0,101.934
    c28.329,6.984,52.107,28.474,59.821,48.688L51.916,111.982z"/>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  </svg>
  </div>
  
          </ion-col>
          <ion-col>
            <p>**** **** **** {{ card_last4 }}</p>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <p style="text-align: right;" >{{ card_exp_month }} / {{ card_exp_year }}</p>
            <p style="text-align: right;font-size: 1,3em;font-weight: 300;">{{ payment_description }}</p>
    
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <ion-card >
      <ion-card-header>
    <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
      <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
        <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
      </ion-fab-button>
    </ion-fab>
<ion-row>
  <ion-col size="10">
    <ion-card-subtitle>veterinaria</ion-card-subtitle>
    <ion-card-title>Mariely</ion-card-title>
  </ion-col>
  <ion-col size="1">       
       <ion-icon (click)="mandarMensaje()" style="color:rgb(30, 148, 70);zoom:1.8;text-align:right" name="chatbubbles-outline"></ion-icon>
    </ion-col>
    <ion-col size="1">        
      <ion-icon  style="color:rgb(196, 112, 17);zoom:1.8;text-align:right" name="reader-outline"></ion-icon>
  </ion-col>
</ion-row>
    </ion-card-header>
    <ion-card-content>
      4.5 estrellas
    </ion-card-content>
  </ion-card>
  <ion-card style="background:#4ba8aa">
    <ion-card-header>
      <ion-card-title style="color:white;">Recomendaciones</ion-card-title>
    </ion-card-header>
    
    <ion-card-content style="color:white;">
     Por covid te recomendamos lo siguiente
    </ion-card-content>
  </ion-card>
  <ion-row>
  <ion-col size="12">
    <ion-button  style="border-radius: 1em !important;" color="dark" expand="full" (click)="goToPage('/perfil-perro')" >Ver Perfil</ion-button>
  </ion-col>
  </ion-row>
 </ion-content>