.card {
    background-color:#24244d;
    padding:2em;
    border-radius: 1em;
    max-height:12rem;
    height: 12rem;
}

.border-radius-img{
    border-radius: 1em;
}

.margin{
    margin: .8em;
}


