

<ion-content fullscreen>
  <ion-row >
    
    
    <ion-col >  
      <ion-card style="background-color:#3a3d62;border-radius: 1em;" >
        <img src="https://mx.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg" />
        <ion-card-header>
          <ion-card-subtitle style="color: aliceblue;">Veterinarios</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>


    <!--<ion-col >
      <div class="card">
        <img src="assets/adopcion.svg" width="100" alt="">
        <p class="bold">Adopciones</p>
      </div>
    </ion-col>
  -->
    <ion-col >
        
      <ion-card style="background-color:#3a3d62;border-radius: 1em;">
        <img src="https://mx.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg" />
        <ion-card-header>
          <ion-card-subtitle style="color: aliceblue;">Veterinarios</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

  </ion-row>
  <ion-row >
    
    
    <ion-col >  
      <ion-card style="background-color:#3a3d62;border-radius: 1em;">
        <img src="https://mx.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg" />
        <ion-card-header>
          <ion-card-subtitle style="color: aliceblue;">Veterinarios</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>


    <!--<ion-col >
      <div class="card">
        <img src="assets/adopcion.svg" width="100" alt="">
        <p class="bold">Adopciones</p>
      </div>
    </ion-col>
  -->
    <ion-col >
        
      <ion-card style="background-color:#3a3d62;border-radius: 1em;">
        <img src="https://mx.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg" />
        <ion-card-header>
          <ion-card-subtitle style="color: aliceblue;">Veterinarios</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

  </ion-row>
  <ion-row >
    
    
    <ion-col >  
      <ion-card style="background-color:#3a3d62;border-radius: 1em;">
        <img src="https://mx.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg" />
        <ion-card-header>
          <ion-card-subtitle style="color: aliceblue;">Veterinarios</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>


    <!--<ion-col >
      <div class="card">
        <img src="assets/adopcion.svg" width="100" alt="">
        <p class="bold">Adopciones</p>
      </div>
    </ion-col>
  -->
    <ion-col >
        
      <ion-card style="background-color:#3a3d62;border-radius: 1em;">
        <img src="https://mx.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg" />
        <ion-card-header>
          <ion-card-subtitle style="color: aliceblue;">Veterinarios</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>
