<ion-header class="ion-no-border">
  <ion-toolbar >
      <ion-title class="ion-text-center" color="tertiary" >
        <h2>{{ service }}</h2>
      </ion-title>
      <ion-icon slot="end" name="close-outline" (click)="exit()" style="zoom:2.0;margin: .5em;"></ion-icon>
      <ion-buttons slot="start" style="margin: .5em 1.5em;" >
        <ion-buttons slot="start">
        </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div style="padding: 1em;">
    <ion-item-divider mode="md" sticky="true" *ngFor="let vet of vets">
      <ion-item lines="none" style="border-radius: 1em !important;">
        <ion-thumbnail slot="start">
          <img style="width: 14em;"  [src]="vets.profile" style="border-radius: 1em !important;">
        </ion-thumbnail>
        <ion-label> 
          <h3 style="font-weight: bold;">{{ vet.name }}</h3>
          <p>{{ vets.services }}</p>
        </ion-label>
      </ion-item>
    </ion-item-divider>
  </div>
</ion-content>
