.poster_content{
    position: relative;
    top: -75px;
    left: -10px;
    margin-bottom: -75px;
}



.poster-detalle-sobre {
    position: relative;
    top: -105px;
    left: -10px;
    margin-bottom: -75px;
}