
<ion-content>
  <img src="https://scontent.fgdl10-1.fna.fbcdn.net/v/t1.6435-9/118114949_3230889310326165_2393965044989808666_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeFBZrrUPHd0-58JPobS-ng9qfJNaXd1zOWp8k1pd3XM5ackNJvH_LwBLucQJhEjt8sDxjTtZ4MylciQdBBHH81q&_nc_ohc=KYsvfrkiY7EAX_Ch67t&_nc_ht=scontent.fgdl10-1.fna&oh=2f686f6ac4bfe5ce3ac3148832808fc6&oe=60CA42ED" alt="">
    <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6" class="poster-detalle-sobre">
        
        <ion-card class="poster" style="border-radius: 1em;">
          <img src="https://scontent.fgdl10-1.fna.fbcdn.net/v/t1.18169-9/549591_452164474865343_127610589_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_eui2=AeGRYtM6cvIdAdWxUHdllmCTFYk_cRs5eysViT9xGzl7K4nAJnsfF3lMTkjzQVB30BiEDaZ55KUbaSmEXi-dlD-P&_nc_ohc=0AH0x04K2W8AX-LMgRI&_nc_ht=scontent.fgdl10-1.fna&oh=0c02d30292c7c5b01bebd2bd8b9dd23b&oe=60C8FEB0" 
          class="poster">
        </ion-card>
        
      </ion-col>
      
    </ion-row>
  </ion-grid>
  <div style="margin: 0em 1em;">
    <ion-row>
      <ion-col size="10"> 
          <h2>Oceanican</h2>
      </ion-col>
      <ion-col size="2" style="margin-top: 1em;" >
        <div style="height: 1.5em !important;width: 1.5em;">

        <svg  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 507.2 507.2" style="enable-background:new 0 0 507.2 507.2;" xml:space="preserve">
     <circle style="fill:#32BA7C;" cx="253.6" cy="253.6" r="253.6"/>
     <path  style="fill:#0AA06E;" d="M188.8,368l130.4,130.4c108-28.8,188-127.2,188-244.8c0-2.4,0-4.8,0-7.2L404.8,152L188.8,368z"/>
     <g>
       <path style="fill:#FFFFFF;" d="M260,310.4c11.2,11.2,11.2,30.4,0,41.6l-23.2,23.2c-11.2,11.2-30.4,11.2-41.6,0L93.6,272.8
         c-11.2-11.2-11.2-30.4,0-41.6l23.2-23.2c11.2-11.2,30.4-11.2,41.6,0L260,310.4z"/>
       <path style="fill:#FFFFFF;" d="M348.8,133.6c11.2-11.2,30.4-11.2,41.6,0l23.2,23.2c11.2,11.2,11.2,30.4,0,41.6l-176,175.2
         c-11.2,11.2-30.4,11.2-41.6,0l-23.2-23.2c-11.2-11.2-11.2-30.4,0-41.6L348.8,133.6z"/>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     </svg>
    </div>

      </ion-col>
    </ion-row>
    

    <p style="font-size:1.2em;font-weight: 400;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quaerat quae magnam ratione dolore, impedit, a sequi asperiores rerum, labore facere accusantium? Voluptatum hic consectetur illum maxime modi sint? Cum, perspiciatis dolor reiciendis unde quidem quos rerum aliquam culpa! Vitae!</p>
<ion-button color="primary">Ver más</ion-button>


<ion-item-divider mode="md" >
</ion-item-divider>

    <p style="font-size: 1.3em;font-weight: 600;">Mascotas</p>
    <ion-slides class="thumbnail margin"  [options]="slide">
      <ion-slide class="slider-1 "  (click)="showVeterinarian()" *ngFor="let terrace of [1,1,1,1,1,1]">
       <div style="text-align: left;">
          <img class="border-radius-img" src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZG9jdG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="min-height: 14em;">
          <p style="margin-left: 1em;font-weight: bold;">Veterinaria lolis</p>
          <p class="subtitle-card" style="margin-left: 1em;">Guadalajara, Jal</p>
          
        </div>
      </ion-slide>
    </ion-slides> 

    <ion-item-divider mode="md" >
    </ion-item-divider>

    <p style="font-size: 1.3em;font-weight: 600;">Ubicación</p>

    <ion-card style="border-radius: 1em;" >
      <ion-card-header>
        <ion-card-subtitle style="color:white;font-size: 1.2em;font-weight: 400;">Guia rápida</ion-card-subtitle>
        <ion-card-title>San mateo evangelista 4167-1,lomas de san miguel,tlaquepaque,Jalisco.</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-item-divider mode="md" >
    </ion-item-divider>

    <p style="font-size: 1.3em;font-weight: 600;">Organizaciones similares</p>
    <ion-slides class="thumbnail margin"  [options]="slide">
      <ion-slide class="slider-1 "  (click)="showVeterinarian()" *ngFor="let terrace of [1,1,1,1,1,1]">
       <div style="text-align: left;">
          <img class="border-radius-img" src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZG9jdG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="min-height: 14em;">
          <p style="margin-left: 1em;font-weight: bold;">Veterinaria lolis</p>
          <p class="subtitle-card" style="margin-left: 1em;">Guadalajara, Jal</p>
          
        </div>
      </ion-slide>
    </ion-slides> 
  </div>
</ion-content>
