.card-intro{
    width: 100%;
    height:10em;
    border-radius:1em;
    display: flex !important;
    align-content: center  !important;
    align-items: center !important;
    padding:1em;
    color:white;
    font-weight: bold;
}

.card-mascota{
    background-color:#0762D9;
}

.card-adoptar{
    background-color:#05A8F0;
}