<ion-content>
  <ion-content>
    <ion-slides pager="true" [options]="slide" style="height: 100%;">
      <ion-slide>
        <div>
          <!-- <img src="../../assets/caca.svg" alt="" style="width: 100%;"> -->
          <h1>Encuentra a tu mejor amigo.</h1>

   
          <lottie-animation-view [options]="lottieConfig" [width]="200" [height]="200">
  
          </lottie-animation-view>

        </div>

        
      </ion-slide>
      <ion-slide>
        <h1>Conoce más a tu mascota.</h1>

   
        <lottie-animation-view [options]="slide2animation" [width]="240" [height]="240">

        </lottie-animation-view>

      </ion-slide>
      <ion-slide>
        <ion-grid>

       <ion-row>
         <ion-col><h1 style="display: block !important;">Selecciona un opción.</h1>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col size="1"></ion-col>
         <ion-col size="5" (click)="selecciona('Tengo mascota')">
           <div class="card-intro card-mascota m1">
              <p>Tengo mascota.</p>   
           </div>
         </ion-col>

         <ion-col size="5" (click)="selecciona('Quiero adoptar')">
          <div class="card-intro card-adoptar m2">
             <p>Quiero adoptar.</p>
            </div>
         </ion-col>

        </ion-row>

        <div [hidden]="!select"  style="margin-top: 1em;">
          <small>opcion seleccionada:</small>
          <h1>{{select}}</h1>
          <ion-button (click)="siguiente()" size="large" style="right: 0;float: right;position: absolute;margin-top:1em;"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
        </div>

      </ion-grid>

      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
