<ion-content>
  <ion-content>
    <ion-slides pager="true" [options]="slide" style="height: 100%;">
      <ion-slide>
        <div>
          <!-- <img src="../../assets/caca.svg" alt="" style="width: 100%;"> -->
          <h1>Encuentra a tu mejor amigo.</h1>

   
          <lottie-animation-view [options]="lottieConfig" [width]="200" [height]="200">
  
          </lottie-animation-view>

        </div>

        
      </ion-slide>
      <ion-slide>
        <h1>Conoce más a tu mascota.</h1>

   
        <lottie-animation-view [options]="slide3animation" [width]="240" [height]="240">

        </lottie-animation-view>

      </ion-slide>
      <ion-slide>
        <ion-grid>

       <ion-row>
         <ion-col><h1 style="display: block !important;">Disfruta de los beneficios!</h1>
         </ion-col>
       </ion-row>
       <lottie-animation-view [options]="slide2animation" [width]="240" [height]="240">

      </lottie-animation-view>
       <ion-row>
         <ion-col></ion-col>
         <ion-col>
          <ion-button style="display: block !important;">Descubrir app!</ion-button>
         </ion-col>
         <ion-col></ion-col>
       </ion-row>
      </ion-grid>

      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
