<ion-content>
  <p style="font-size: 1.8em;margin: 1em;color:#192547; font-weight: bold;">Modifica tu perfil</p>
  <ion-label style="margin-left: 1.5em;" color="primary">Nombre</ion-label>
  <ion-row justify-content-center align-items-center  style="margin:1em;">
    <ion-col size="12">
      <ion-input  class="input" placeholder="   Ingresa el nombre de la vacuna " type="text" value="Luis"></ion-input>
    </ion-col>
  </ion-row>

  <ion-label style="margin-left: 1.5em;" color="primary">Apellido</ion-label>
  <ion-row justify-content-center align-items-center  style="margin:1em;">
    <ion-col size="12">
      <ion-input  class="input" placeholder="   Ingresa el nombre de la vacuna " type="text" value="Rojas"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-label style="margin-left: 1.5em;" color="primary">Fecha de nacimiento</ion-label>
      <ion-item lines="none">
        <ion-datetime  displayFormat="DD/MM/YY" doneText="Aceptar" cancelText="Cancelar" value="19-02-1990" placeholder="Selecciona fecha" style="background-color: #edf2f7;width:100%;"></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col >
      <ion-label style="margin-left: 1.5em;" color="primary">Sexo</ion-label>
      <ion-item lines="none" >
    
        <ion-select value="01" okText="Aceptar" cancelText="Cancelar"  placeholder="Selecciona fecha" style="background-color: #edf2f7;" >
          <ion-select-option value="01">Hombre</ion-select-option>
          <ion-select-option value="02">Mujer</ion-select-option>
          <ion-select-option value="03">Otro</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

  </ion-row>
  

  <!-- <ion-label style="margin-left: 1.5em;" color="primary">Fecha de nacimiento</ion-label>
  <ion-row justify-content-center align-items-center  style="margin:1em;">
    <ion-col size="12">
      <ion-input  class="input" placeholder="   Ingresa el nombre de la vacuna " type="text" ></ion-input>
    </ion-col>
  </ion-row> -->
 



  <ion-label style="margin-left: 1.5em;" color="primary">Número Teléfonico</ion-label>
  <ion-row justify-content-center align-items-center  style="margin:1em;">
    <ion-col size="12">
      <ion-input  class="input" placeholder="   Ingresa el número telefonico" type="number"></ion-input>
    </ion-col>
  </ion-row>

  <ion-label style="margin-left: 1.5em;" color="primary">Identificación</ion-label>
  <ion-row justify-content-center align-items-center  style="margin:1em;">
    <ion-col size="12">
      <ion-input  class="input" placeholder="   Ingresa el nombre de la vacuna " type="text"></ion-input>
    </ion-col>
  </ion-row>
</ion-content>
