<ion-content>
  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>



<ion-card style="border-radius: 1em;margin-top: 5em;">
  <ion-card-header>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
          <img style="border-radius: .5em;" src="https://images.unsplash.com/photo-1592198600249-ba40a4d08cde?ixid=MnwxaMjA3fDB8MHxzZWFyY2h8MXx8c2VydmljZXN8ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
      </ion-thumbnail>
          
          <ion-label >
            <h2 style="font-size:1.2em; font-weight:300;">{{ extras.veterinarian_name}}</h2>
            <p style="font-size: 1.1em;"> {{extras.date |  date:'fullDate':'es' }} <br>{{extras.hour}}</p>
            <h3>Consulta</h3>
          </ion-label> 
       
    </ion-item>
  </ion-card-header>
  <div style="margin:1.3em 0em;"> 
    <ion-item >
      <ion-label>Servicio</ion-label>
      <ion-note slot="end" color="success" style="font-size: 1.1em;">$100.00 MXN</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Comisión por servicio</ion-label>
      <ion-note slot="end" color="success" style="font-size: 1.1em;">$10.00 MXN</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total </ion-label>
      <ion-note slot="end" color="success" style="font-size: 1.1em;">$110.00 MXN</ion-note>
    </ion-item>
  </div>
</ion-card>

<ion-card style="border-radius: 1em;">
  <ion-card-header (click)="metodoPago()">
    <ion-item lines="none">
      <ion-icon slot="end" name="cash-outline" style="color:green;"></ion-icon>
      <ion-label>Método de pago </ion-label>
    </ion-item>
  </ion-card-header>
</ion-card>

<ion-card style="border-radius: 1em;">
<ion-card-header (click)="metodoCupones()">

  <ion-item lines="none">
    <ion-icon slot="end" name="pricetag-outline" style="color:orange;"></ion-icon>
    <ion-label>Cupones</ion-label>
  </ion-item>
</ion-card-header>

</ion-card>


<ion-card style="border-radius: 1em;">
  <ion-row style="margin:1em;">
    <ion-col>
      <h2>Total</h2>
    </ion-col>
    <ion-col>
      <h1 style="text-align: right;color:#5dbc7a">$110.00 MXN</h1>
    </ion-col>
  </ion-row>
</ion-card>


</ion-content>

<ion-footer >
  <ion-button expand="full" color="tertiary" (click)="createCharge()">Reservar</ion-button>
</ion-footer>
